# fly.toml app configuration file generated for someday-app on 2026-02-02T10:56:06+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'someday-app'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[env]
  ENV = 'production'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
